# SD card image configuration for Raspberry Pi 5

image boot.vfat {
    vfat {
        files = {
            "rpi-firmware/bootcode.bin",
            "rpi-firmware/start4.elf",
            "rpi-firmware/start_cd.elf",
            "rpi-firmware/fixup4.dat",
            "rpi-firmware/fixup_cd.dat",
            "rpi-firmware/config.txt",
            "rpi-firmware/cmdline.txt",
            "Image",
            "bcm2712-rpi-5-b.dtb"
        }
        label = "boot"
    }
    size = 256M
}

image sdcard.img {
    hdimage {
    }

    partition boot {
        partition-type = 0xC
        bootable = "true"
        image = "boot.vfat"
    }

    partition rootfs {
        partition-type = 0x83
        image = "rootfs.ext4"
    }
}